@model IEnumerable<WebApplication1.Models.Branch>


    <div class="container py-3">

    <p>
        <a class="btn btn-info" asp-action="New">Create New</a>
    </p>
    <table class="table  border table-striped">
        <thead>
            <tr>
            
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Governate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ManagerName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Governate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManagerName)
                    </td>
                    <td>
                        <button class="btn"><a href="/Branches/edit/@item.Id" class=" text-decoration-none fw-bold btn btn-outline-warning me-2"> Update </a> </button>
                        <button class="btn"><a href="/Branches/Delete/@item.Id" class=" text-decoration-none fw-bold btn btn-outline-danger"> Delete </a> </button>
                     
                    </td>
                </tr>
            }
        </tbody>
    </table>


    </div>


